# Copy to .env

CONTAINER_NAME=app-server-1
DOCKER_EXTERNAL_PORT=27017
MONGO_DATA_PATH=./mongo_data/db

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=123456

MONGO_ADMINDB_USERNAME=admin
MONGO_ADMINDB_USER_PASSWORD=123456

MONGO_CUSTOM_DB_NAME=testdb
MONGO_CUSTOM_DB_USERNAME=test01
MONGO_CUSTOM_DB_USER_PASSWORD=123456

MONGO_REPL_NAME=rs0
MONGO_KEYFILE_NAME=mongo-rs-keyfile.key
